# Ignore IDE and system files
.idea/
.vscode/

# Ignore dependencies
shopping-admin-frontend/node_modules/
adminservice/target/

# Ignore sensitive config
adminservice/src/main/resources/application.properties
